<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Address Book</title>
<link rel="stylesheet"
	href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/main.css" />
</head>
<body>
	<nav class="navbar bg-custom navbar-expand-sm bg-dark navbar-dark py-1">
		<a class="navbar-brand" href="/">My Address Book</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse"
			data-target="#nav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="nav">

			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">Link 1</a></li>
				<li class="nav-item"><a class="nav-link" href="/list">Link 2</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="/" id="navbardrop"
					data-toggle="dropdown"> Dropdown link </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/">Link 1</a> <a
							class="dropdown-item" href="/">Link 2</a> <a
							class="dropdown-item" href="/">Link 3</a>
					</div></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div style="text-align: center">
			<h4>
				<b>Manage AddressBook</b>
			</h4>
		</div>

		<div class="col text-center">
			<button class="btn btn-sm btn-success newAddBookBtn btn-space">Add
				New Contact</button>
		</div>
		<br>
		<div class="myForm">
			<form th:action="@{/save2}" method="post" id="addressBookForm"
				name="addressBookForm">
				<div class="modal fade" id="exampleModal" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Addressbook
								</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-group" hidden="true">
									<label for="id" class="col-form-label">ID:</label> <input
										type="text" class="form-control form-control-sm btn-space"
										id="id" name="id" />
								</div>
								<div class="row">
									<label class="col-md-4 control-label boldlabel text-right"
										for="firstname">Firstname:</label>
									<div class="col-md-7 pull-left">
										<input type="text"
											class="form-control form-control-sm btn-space" id="firstname"
											name="firstname" />
									</div>
								</div>
								<div class="row">
									<label class="col-md-4 control-label boldlabel text-right"
										for="lastname">Lastname:</label>
									<div class="col-md-7 pull-left">
										<input type="text"
											class="form-control form-control-sm btn-space" id="lastname"
											name="lastname" />
									</div>
								</div>
								<div class="row">
									<label class="col-md-4 control-label boldlabel text-right"
										for="phonenumber">Phonenumber:</label>
									<div class="col-md-7 pull-left">
										<input type="text"
											class="form-control form-control-sm btn-space"
											id="phonenumber" name="phonenumber" />
									</div>
								</div>
								<div class="row">
									<label class="col-md-4 control-label boldlabel text-right"
										for="email">Email:</label>
									<div class="col-md-7 pull-left">
										<input type="text"
											class="form-control form-control-sm btn-space" id="email"
											name="email" />
									</div>
								</div>
								<div class="row">
									<label class="col-md-4 control-label boldlabel text-right"
										for="address">Address:</label>
									<div class="col-md-7 pull-left">
										<input type="text"
											class="form-control form-control-sm btn-space" id="address"
											name="address" />
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-sm btn-secondary btn-space"
									data-dismiss="modal">Close</button>
								<input type="submit" class="btn btn-sm btn-primary btn-space"
									value="Save" />
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="card-block">
			<table class="table table-hover table_morecondensed" id="myTable">
				<thead>
					<tr>
						<th>Id</th>
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Phonenumber</th>
						<th>Email</th>
						<th>Address</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="addressbook :${data.content}">
						<td th:text="${addressbook.id}"></td>
						<td th:text="${addressbook.firstname}"></td>
						<td th:text="${addressbook.lastname}"></td>
						<td th:text="${addressbook.phonenumber}"></td>
						<td th:text="${addressbook.email}"></td>
						<td th:text="${addressbook.address}"></td>
						<td><a th:href="@{delete/(id=${addressbook.id})}"
							class="btn-sm btn-danger btn-space delBtn">Delete</a><a
							th:href="@{findOne/(id=${addressbook.id})}"
							class="btn-sm btn-warning btn-space editBtn">Edit</a></td>
					</tr>
				</tbody>
			</table>
			<div th:if="${!data.empty}">
				<ul class="nav nav-pills justify-content-end ml-auto">
					<li class="nav-item"
						th:each="i : ${#numbers.sequence(0,data.totalPages-1)}"><a
						th:href="@{/list(page=${i})}" th:text="${i+1}" class="nav-link"
						th:classappend="${currentPage}==${i}?'active':''"> </a></li>
				</ul>
			</div>

		</div>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Delete Confirmation</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete it?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary"
						data-dismiss="modal">Close</button>
					<a href="" class="btn btn-sm btn-danger" id="delRef">Delete</a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="webjars/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="webjars/jquery-validation/1.19.0/jquery.validate.min.js"></script>
	<script type="text/javascript"
		src="webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript">
		$(function() {
			$("form[name='addressBookForm']").validate({
				rules : {
					// The key name on the left side is the name attribute
					// of an input field. Validation rules are defined
					// on the right side
					firstname : "required",
					lastname : "required",
					email : {
						required : true,
						// Specify that email should be validated
						// by the built-in "email" rule
						email : true
					},
					address : {
						required : true,
						minlength : 1,
						maxlength : 40,
					},
					phonenumber : {
						required : true,
						minlength : 10,
						maxlength : 10,
						digits : true
					}
				},
				// Specify validation error messages
				messages : {
					firstname : "Please enter your firstname",
					lastname : "Please enter your lastname",
					email : "Please enter a valid email address",
					address : "Please enter a valid address"
				},
				// Make sure the form is submitted to the destination defined
				// in the "action" attribute of the form when valid
				submitHandler : function(form) {
					form.submit();
				}
			});
		});
	</script>


</body>
</html>