<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Address Book</title>
<link rel="stylesheet"
	href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/main.css" />
</head>
<body>
	<nav class="navbar bg-custom navbar-expand-sm bg-dark navbar-dark py-1">
		<a class="navbar-brand" href="/">My Address Book</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse"
			data-target="#nav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="nav">

			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">Link 1</a></li>
				<li class="nav-item"><a class="nav-link" href="/list">Link 2</a></li>
					<li class="nav-item"><a class="nav-link" href="/list3">Link 3</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="/" id="navbardrop"
					data-toggle="dropdown"> Dropdown link </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/">Link 1</a> <a
							class="dropdown-item" href="/">Link 2</a> <a
							class="dropdown-item" href="/">Link 3</a>
					</div></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div style="text-align: center">
			<h4>
				<b>Manage AddressBook</b>
			</h4>
		</div>

		<div class="col text-center">
		<br/>
			<h4>Click any row to see the details using Thymeleaf Ajax Fragment</h4>
		</div>
		<br>

		<div class="card-block">
			<table class="table table-hover table_morecondensed" id="myTable">
				<thead>
					<tr>
						<th>Id</th>
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Phonenumber</th>
						<th>Email</th>
						<th>Address</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="addressbook :${contacts}" th:onClick="'javascript:openContactsModal(\''+ ${addressbook.id} + '\');'">
						<td th:text="${addressbook.id}"></td>
						<td th:text="${addressbook.firstname}"></td>
						<td th:text="${addressbook.lastname}"></td>
						<td th:text="${addressbook.phonenumber}"></td>
						<td th:text="${addressbook.email}"></td>
						<td th:text="${addressbook.address}"></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	
	
	<div class="modal fade" id="myContactModal" tabindex="-1" role="dialog" th:fragment="modalContents">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">userId</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p id="myContactid">Details</p>
					<p id="myContactfirstname">Details</p>
					<p id="myContactlastname">Details</p>
					<p id="myContactphonenumber">Details</p>
					<p id="myContactemail">Details</p>
					<p id="myContactaddress">Details</p>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary"
						data-dismiss="modal">Close</button>
					<a href="" class="btn btn-sm btn-danger" id="delRef">Delete</a>
				</div>
			</div>
		</div>
	</div>
	
	
	<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="webjars/jquery-validation/1.19.0/jquery.validate.min.js"></script>
	<script type="text/javascript"
		src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
<!-- 	<script type="text/javascript" src="js/main.js"></script> -->
	
	<script type="text/javascript">
	function openContactsModal(id) {
		
		$.ajax({
			url: "/findOne?id="+ id,
			success: function(data){
				//alert(id);
				//alert(data);
				var myJSON = JSON.stringify(data);
				
				//alert(myJSON);
				
				var tmpData = JSON.parse(myJSON);
				var formattedJson = JSON.stringify(tmpData, null, ' ');
				
				//alert(formattedJson);
				
				$('#myContactid').html('Id is : ' + data.id);
				$('#myContactfirstname').html('FirstName is : ' + data.firstname);
				$('#myContactlastname').html('LastName is : ' + data.lastname);
				$('#myContactphonenumber').html('Phone Number is : ' + data.phonenumber);
				$('#myContactemail').html('Email-Id is : ' + data.email);
				$('#myContactaddress').html('Address is : ' + data.address);
				$('#myContactModal').modal("show");
			}
			
		});
	}
	</script>


</body>
</html>