<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="webjars/jquery/3.4.1/jquery.min.js"></script>
<!-- <link rel="stylesheet" -->
<!-- 	href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
<!-- <script -->
<!-- 	src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> -->
<script type="text/javascript"
	src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<link rel="stylesheet"
	href="css/main.css" />
<link rel="stylesheet"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

</head>
<body>
	<nav class="navbar bg-custom navbar-expand-sm bg-dark navbar-dark py-1">
		<a class="navbar-brand" href="/">My Address Book</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse"
			data-target="#nav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="nav">

			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">Link 1</a></li>
				<li class="nav-item"><a class="nav-link" href="/">Link 2</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="/" id="navbardrop"
					data-toggle="dropdown"> Dropdown link </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/">Link 1</a> <a
							class="dropdown-item" href="/">Link 2</a> <a
							class="dropdown-item" href="/">Link 3</a>
					</div></li>
			</ul>
		</div>
	</nav>

	<div class="card-header bg-info text-white py-0"
		style="text-align: center">
		<h4>
			<b>My Contacts</b>
		</h4>
	</div>
	<hr />
	<div class="container">

		<div class="col text-center">
			<button class="btn btn-success newAddBookBtn">Add New
				Contact</button>
		</div>
		<hr />
			<div class="myForm">
				<form th:action="@{/save}" method="post">
					<div class="modal fade" id="exampleModal" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Addressbook
										Form</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="id" class="col-form-label">ID:</label> <input
											type="text" class="form-control" id="id" name="id" />
									</div>
									<div class="form-group">
										<label for="firstname" class="col-form-label">Firstname:</label>
										<input type="text" class="form-control" id="firstname"
											name="firstname" />
									</div>
									<div class="form-group">
										<label for="lastname" class="col-form-label">Lastname:</label>
										<input type="text" class="form-control" id="lastname"
											name="lastname" />
									</div>
									<div class="form-group">
										<label for="phonenumber" class="col-form-label">Phonenumber:</label>
										<input type="text" class="form-control" id="phonenumber"
											name="phonenumber" />
									</div>
									<div class="form-group">
										<label for="email" class="col-form-label">Email:</label> <input
											type="text" class="form-control" id="email" name="email" />
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Close</button>
									<input type="submit" class="btn btn-primary" value="save" />
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="card-block">
				<table class="table table-hover"
					id="myTable">
					<thead>
						<tr>
							<th>Id</th>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Phonenumber</th>
							<th>Email</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="addressbook :${data.content}">
							<td th:text="${addressbook.id}"></td>
							<td th:text="${addressbook.firstname}"></td>
							<td th:text="${addressbook.lastname}"></td>
							<td th:text="${addressbook.phonenumber}"></td>
							<td th:text="${addressbook.email}"></td>
							<td><a th:href="@{delete/(id=${addressbook.id})}"
								class="btn-sm btn-danger delBtn">Delete</a></td>
							<td><a th:href="@{findOne/(id=${addressbook.id})}"
								class="btn-sm btn-warning editBtn">Edit</a></td>
							<!-- comment above two <TD> tags AND uncomment below if you want to use client side DATATABLES -->
							<!-- 								<a th:href="@{delete/(id=${addressbook.id})}" -->
							<!-- 								class="btn btn-danger delBtn">Delete</a> -->
							<!-- 							<a th:href="@{findOne/(id=${addressbook.id})}" -->
							<!-- 								class="btn btn-primary editBtn">Edit</a> -->
						</tr>
					</tbody>
				</table>
					<ul class="nav nav-pills justify-content-end ml-auto">
						<li class="nav-item"
							th:each="i : ${#numbers.sequence(0,data.totalPages-1)}"><a
							th:href="@{/(page=${i})}" th:text="${i+1}" class="nav-link"
							th:classappend="${currentPage}==${i}?'active':''"> </a></li>

					</ul>
			</div>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Delete Confirmation</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p class="alert alert-danger">Are you sure you want to delete
						it?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<a href="" class="btn btn-danger" id="delRef">Delete</a>
				</div>
			</div>
		</div>
	</div>




</body>
</html>